{% macro displayNewsList(news_list) %}

    {% for source in news_list %}
       <a href="/article/{{source.id}}" style="color:black"> 
        <h4>{{ source.name}}</h4>
    </a>
        <p style="color:black">{{source.description}}</p>
    
    {% endfor %}

{% endmacro %}
{% macro displayArticlesList(articles_list) %}
   
    {% for article in articles_list %}
    <div class="row">
        <a href="{{article.link_to_article}}">
    <div class="col-lg-8 col-md-8" style="margin-bottom:12px;">
       <img src="{{article.image}}" class="img-responsive" style="border-radius: 5%;">
    </div>
    <div class="col-md-3 col-lg-3" style="margin-top: 7px;">
      <p>{{article.description}}</p>
      <p>{{article.date_created}}</p>
    </div>
       </a>  
    </div>
    {% endfor %}

{% endmacro %}