{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
    <div class="col-md-4 col-lg-4 text-info">
        <h2 style="color:black;font-family: 'Courier New', Courier, monospace;"> American Movie Sources</h2>
        {{ macro.displayNewsList(usa_news)}}
    </div>
    
    <div class="col-md-4 col-lg-4 text-info">
        <h2 style="color:black;font-family: 'Courier New', Courier, monospace;"> United Kingdom Sources </h2>
        {{ macro.displayNewsList(britain_news)}}
    </div>
    
    <div class="col-md-4 col-lg-4 text-info">
        <h2 style="color:black;font-family: 'Courier New', Courier, monospace;">SouthAfrican news sources</h2>
        {{ macro.displayNewsList(southafrica_news)}}
    </div>
{% endblock %}
