{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="col-md-4 col-lg-4 text-dark">
        <h2 style="color:black;font-family: 'Courier New', Courier, monospace;"> American News Sources</h2>
        {{ macro.displayNewsList(usa_news)}}
    </div>
    
    <div class="col-md-4 col-lg-4 text-dark">
        <h2 style="color:black;font-family: 'Courier New', Courier, monospace;"> United Kingdom News Sources </h2>
        {{ macro.displayNewsList(britain_news)}}
    </div>
    
    <div class="col-md-4 col-lg-4 text-dark">
        <h2 style="color:black;font-family: 'Courier New', Courier, monospace;">SouthAfrican News sources</h2>
        {{ macro.displayNewsList(southafrica_news)}}
    </div>
{% endblock %}
